<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Hisaab</title>
    <link rel="stylesheet" href="./css/style1.css">
</head>
<body>
    <header>
        <div class="logo">Khaatabook</div>
        <nav>
            <a href="/">Home</a>
            <a href="/create">Create New Hisaab</a>
        </nav>
    </header>

    <main>
        <div id="newHisaabForm">
            <h1>Create New Hisaab</h1>
         <form class="" action="/createhissab" method="post">
            <label for="shoppingDetails">Shopping Details (Ghar ka Kharcha...):</label>
            <input type="text" name="title" placeholder="Shopping Details...">

            <label for="dealDetails">Updated Message</label>
            <textarea  name="content" placeholder="Deal Details..."></textarea> 

            <button type="submit">Create Hisaab</button>
         </form>
    </div>
    </main>
</body>
</html>